<div class='background-picture'>
  <img src='https://s-media-cache-ak0.pinimg.com/originals/1f/41/39/1f413990e3a81f724177ea20d0c85aeb.jpg' />
  <div class='container center'>
   <div class='box center tagline'>
      <h1>SALON-ASSIST</h1>
      <a class="waves-effect waves-light btn-large center">Sign-In</a>
   </div>
  </div>
</div>
