.flash {
  text-align: center; 
  width: 100%;
  height: 50px;
  font-size: 15px;
  cursor: pointer;
  color: white;
}

.notice {
  background-color: #222;
}

.alert {
  background-color: #222;
}

.text-center {
  text-align: center;
}
