.background-picture img {
  width: 100%;
  position: relative;
}

.tagline {
  position: absolute;
  top: 200px;
  left: 0;
}

.box {
  background: #7f7f7f;
  background: rgba(128, 155, 191,0.9);
  border: 5px solid #fff;
  padding-bottom: 20px;
  margin-left: 290px;
  margin-top: 100px;
  border-radius: 5%;
  width: 50%;
}

h1 {
  margin: 7%;
  font-weight: bold;
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 55px;
}

.btn {
  background-color: #543D82;
}