body {
  background-color: #eceff1;
}

.addproduct {
  font-family: 'Playfair Display', serif;
}

.addproductform {
  background-color: #3949ab ;
}

.products-title {
  font-family: 'Playfair Display', serif;
}

